
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<div class="row">
    <div class="col-md-4">
        <h2>Verenigingen</h2>
        <p>Registreer snel en clean een vereniging waar je basisinfo en een database kan voor genereren.</p>
        <p><a class="btn btn-default" href="http://localhost:1428/Vereniging/Registreren">Registreer vereniging &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kassa's</h2>
        <p>Beheer met gemak alle kassa's, voeg ze toe, wijzig ze en ken ze toe aan verenigingen."</p>
        <p><a class="btn btn-default" href="http://localhost:1428/Kassa/Toevoegen">Voeg kassa toe &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Logging</h2>
        <p>Voeg gemakkelijk een logboek voor een kassa toe.</p>
        <p><a class="btn btn-default" href="http://localhost:1428/Log/Aanmaken">Maak logboek aan &raquo;</a></p>
    </div>
</div>
