
@{
    ViewBag.Title = "Verenigingen";
}

<h2>Verenigingen</h2>
<div class="row">
    <div class="col-md-4">
        <h2>Overzicht</h2>
        <p><a class="btn btn-default" href="http://localhost:1428/Vereniging/Overzicht">Overzicht verenigingen &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Registreren</h2>
        <p><a class="btn btn-default" href="http://localhost:1428/Vereniging/Registreren">Registreer vereniging &raquo;</a></p>
    </div>
</div>

