
@{
    ViewBag.Title = "Kassa's";
}

<h2>Kassa's</h2>
<div class="row">
    <div class="col-md-4">
        <h2>Overzicht kassa's</h2>
        <p><a class="btn btn-default" href="http://localhost:1428/Kassa/Overzicht">Overzicht beschikbare kassa's &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kassa toevoegen</h2>
        <p><a class="btn btn-default" href="http://localhost:1428/Kassa/Toevoegen">Voeg kassa toe &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kassa aan vereniging linken</h2>
        <p><a class="btn btn-default" href="http://localhost:1428/Kassa/Link">Link kassa aan vereniging &raquo;</a></p>
    </div>
</div>
