
@{
    ViewBag.Title = "Logboek aanmaken";
}

<h2>Logboek aanmaken</h2>
<form method="post">
    <label for="kassa">Kassa</label>
    <br />
    <select name="kassa">
        <option>Kassa 1</option>
    </select>
    <br />
    <br />
    <input type="submit" value="Aanmaken" name="btnLogAanmaken" />
</form>
