
@{
    ViewBag.Title = "Overzicht logboeken";
}

<h2>Overzicht logboeken</h2>
<table style="width:100%">
    <tr>
        <th>Kassa</th>
        <th>Logboek</th>
        <th></th>
    </tr>

    <tr>
        <td>Kassa 1</td>
        <td>Ja</td>
        <td><a href="/Files/Download?logId=1">Download</a></td>
    </tr>

    <tr>
        <td>Kassa 4</td>
        <td>Nee</td>
        <td><a href="http://localhost:1428/Log/Aanmaken">Aanmaken</a></td>
    </tr>
</table>
